.title {
    font-size: large;
    align-content: left;
}

li {
    display: block;
    text-align: -webkit-match-parent;
}
body {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: black;
}
.NavBar{
    margin: 0;
    position: fixed;
    top: 0;
    transition: .7s;
    width: 100%;
    z-index: 10;
}
.houseIcon {
    max-width: 100%;
    max-height: 100%;
    overflow: clip;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;
}
.NavBarList {
    background-color: rgb(254, 211, 76);
    display: flex;
    height: 8vh;
    padding-top: 0%;
    margin: 0;
    padding-left: 1vh;
}
.NavBarImage {
    margin: 1vh 2vh;
    padding: 0.5vh;
}
.contents {
    font-family:"Barlow Condensed";
    display: block;
    font-size: 140%;
    font-weight: bolder;
}
ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
} 
.NavBarItem {
    align-content: end;
    border-radius: 1vh;
    cursor: pointer;
    margin: 1.5vh 2vh 1.5vh 0.5vh;
    padding: 1vh 1.5vh;
    transition: .5s;
}
.NavLink {
    text-decoration: none;
    color: black;
}
.background-video {
    height: 100%;
    object-fit: cover;
    width: 100%;
}