.title {
    font-size: large;
    align-content: left;
}

li {
    display: block;
    text-align: -webkit-match-parent;
}
body {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.NavBar{
    margin: 0;
    position: fixed;
    top: 0;
    transition: .7s;
    width: 100%;
    z-index: 10;
}
.houseIcon {
    max-width: 100%;
    max-height: 100%;
    overflow: clip;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;
}
.NavBarList {
    background-color: rgb(179, 186, 149);
    display: flex;
    height: 8vh;
    padding-top: 0%;
    margin: 0;
    padding-left: 1vh;
}
.NavBarImage {
    margin: 1vh 2vh;
    padding: 0.5vh;
}
.contents {
    font-family: 'Courier New', Courier, monospace;
    display: block;
    font-size: 200%;
}
ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
} 
